{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-5">
      <div class="col-md-6 d-flex flex-column align-items-center">
        <h2 class="mb-4">Inscrivez-vous maintenant</h2>
        <a href="{% url 'core:signup' %}" class="btn btn-primary px-4">S'inscrire</a>
      </div>
      <div class="col-md-6">
          <div class="container">
              <div class="row">
                  <h2 class="text-center">Connectez-vous</h2>
              </div>
              <form action="{% url 'login' %}" class="row" method="POST">
                  {% csrf_token %}
                  {% if form.non_field_errors %}
                      <div class="col-12 text-danger">
                          {% for error in form.non_field_errors %}
                              <p>{{ error }}</p>
                          {% endfor %}
                      </div>
                  {% endif %}
                  <div class="col-12 mb-3">
                      <input
                        type="text"
                        class="form-control"
                        name="{{ form.username.html_name }}"
                        placeholder="{{ form.username.label }}"
                        aria-label="{{ form.username.label }}"
                        {% if form.username.value %} value="{{ form.username.value }}" {% endif %}
                        required
                      />
                  </div>
                  <div class="col-12 mb-3">
                      <input
                        type="password"
                        class="form-control"
                        name="{{ form.password.html_name }}"
                        placeholder="{{ form.password.label }}"
                        aria-label="{{ form.password.label }}"
                        required
                      />
                  </div>
                  <div class="col-12">
                      <button type="submit" class="btn btn-primary w-100 my-1 my-md-0">
                          Se connecter
                      </button>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </div>

{% endblock %}