<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'core:home' %}">
        {% load static %}
        <img
          src="{% static 'litreviewcore/brand_logo.png' %}"
          alt="LITReview logo"
          width="40px"
        />
        <h1 class="h3 d-inline align-middle">LITReview</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Montre ou cache le menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  