{% extends "base.html" %}

{% block content %}

{% load post_extras %}

<div class="container my-5">

    <div class="row justify-content-center my-4">
        <div class="col-10 col-lg-8">
            <div class="row gy-2">
                <div class="col-lg-6 text-center">
                    <a href="{% url 'core:new-ticket' %}" class="btn btn-dark d-block">Demander une critique</a>
                </div>
                <div class="col-lg-6 text-center">
                    <a href="{% url 'core:new-review' %}" class="btn btn-dark d-block">Créer une critique</a>
                </div>
            </div>
        </div>
    </div>

    {% for post in posts %}

        {% if post|is_review %}

            {% show_review post user %}

        {% else %}

            {% show_ticket post user %}

        {% endif %}

    {% endfor %}

</div>

{% endblock %}
