<div class="row justify-content-center my-3">
    <div class="col-10 col-lg-8 border rounded pt-3">
        <div class="row">
            <p class="col-6">
                <span class="badge {% if user_is_author %} bg-info {% else %} bg-primary {% endif %}">

                    {% if user_is_author %}

                        Vous

                    {% else %}

                        {{ ticket.user }}

                    {% endif %}

                </span> {% if user_is_author %} avez {% else %} a {% endif %} demandé une critique
            </p>
            <p class="col-6 text-end text-secondary fs-6 fw-light fst-italic">
                <span>{{ ticket.time_created }}</span>
            </p>
        </div>

        <div class="row">
            <h2 class="h4">{{ ticket.title }}</h2>
        </div>

         {% if ticket.description %}

             <div class="row">
                 <p>{{ ticket.description }}</p>
             </div>

         {% endif %}

        <div class="row justify-content-end">

            {% if is_delete_post %}

                <div class="col-12 col-sm-4">
                    <form action="{% url 'core:delete-ticket' ticket.id %}" method="POST" class="text-center text-md-end">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger my-2">Supprimer</button>
                    </form>
                </div>

            {% elif not is_user_posts %}

                <div class="col-4">

                    {% if ticket.review_set.count == 0 %}

                        <a href="{% url 'core:new-review' %}?ticket={{ ticket.id }}" class="btn btn-outline-dark my-2">Créer une critique</a>

                    {% else %}

                        <a class="btn btn-outline-dark my-2 disabled" aria-disabled="true">Créer une critique</a>

                    {% endif %}

                </div>

            {% endif %}

        </div>

         {% if ticket.image %}

             <div class="row">
                 <div class="col-12 mb-4">
                     <img src="{{ ticket.image.url }}" alt="Couverture du livre" width="150px">
                 </div>
             </div>

         {% endif %}

         {% if is_user_posts %}

             <div class="row justify-content-end">
                 <div class="col--md-6 text-md-end text-center">
                     <a href="{% url "core:edit-ticket" ticket.id %}" class="btn btn-outline-dark my-4 mx-2">Modifier</a>
                     <a href="{% url "core:delete-ticket" ticket.id %}" class="btn btn-outline-dark my-4 mx-2">Supprimer</a>
                 </div>
             </div>

         {% endif %}

    </div>
</div>
